USE [SCRAPER]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 10/1/2012 10:10:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cities](
	[city] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Facilities]    Script Date: 10/1/2012 10:10:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Facilities](
	[FacilityLicID] [varchar](50) NULL,
	[FacilityName] [varchar](4000) NULL,
	[StreetAddress1] [varchar](250) NULL,
	[StreetAddress2] [varchar](250) NULL,
	[City] [varchar](250) NULL,
	[State] [varchar](250) NULL,
	[ZIP] [varchar](250) NULL,
	[FacilityPhone] [varchar](250) NULL,
	[FacilityType] [varchar](250) NULL,
	[LicenseType] [varchar](250) NULL,
	[ExpirationDate] [date] NULL,
	[Administrator] [varchar](250) NULL,
	[BusinessHours] [varchar](250) NULL,
	[Capacity] [varchar](250) NULL,
	[Ages] [varchar](250) NULL,
	[Inspector] [varchar](250) NULL,
	[InspectorPhone] [varchar](250) NULL,
	[Inspections] [varchar](4000) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Inspections]    Script Date: 10/1/2012 10:10:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Inspections](
	[InspectionID] [varchar](50) NULL,
	[InspectionStart] [date] NULL,
	[InspectionEnd] [date] NULL,
	[NumViolations] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pages]    Script Date: 10/1/2012 10:10:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[PK] [int] IDENTITY(1,1) NOT NULL,
	[PageID] [int] NULL,
	[Page] [text] NULL,
	[CleanPage] [nvarchar](max) NULL,
 CONSTRAINT [PK_Pages] PRIMARY KEY CLUSTERED 
(
	[PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StripTags]    Script Date: 10/1/2012 10:10:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StripTags](
	[tag] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
